html {
  font-size: 12px;
  font-family: 'Verdana', sans-serif;
  background-color: silver;
}

h1 {
  font-size: 14px;
  text-align: center;
}

h2 {
  font-size: 13px;
}

p, li {
  font-size: 10px;
  letter-spacing: 1px;
}

body {
  width: 1100px;
  margin: 0.2em auto 2em;
  background-color: cornsilk;
  padding: 0 95px 15px 95px;
  border: 1px solid dimgray;
  color: black;
}

code { /*inline code*/
  color: darkblue; 
}

pre {
  color: midnightblue;
  margin: auto;
/*  margin: 0px 0px 0px -80px; */
  overflow-x: auto; 
  white-space: pre;
  font-size: 12px;
  font-family: 'Lucida Console', monospace;
  letter-spacing: 1px;
  padding: 10px 0px;
}

img {
  width: 30%;	
  display: block;
  margin: 0% auto; 
/*  border: 1px solid black; */
}

footer {
  display: flex;
  justify-content: center;
  padding: 6em 2em 2em;
  font-size: 10px;
  color: darkslategray;
}

a {
  color: darkred;
  text-decoration: none;
}

hr {
  border: none;
}
.sub {
  text-align: center;
}
